#name: Versioning & Npm Publish
#
#on:
#  push:
#    branches:
#      - main
#
#jobs:
#  update-publish:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#        with:
#          ref: ${{ github.head_ref }}
#          fetch-depth: 0
#
#      - name: Setup
#        uses: actions/setup-node@v3
#        with:
#          node-version: 18
#
#      - name: Publish
#        uses: JS-DevTools/npm-publish@v1
#        with:
#          token: ${{ secrets.NPM_TOKEN }}